.title-pages {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    letter-spacing: 140%;
}

.tab-type {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    padding:10px 0px;
}

.tabItem-type {
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-tabItem-type {
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    color: #7cb3d8;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7cb3d8;
}

.billshow {
    width: 100%;
    border:1px solid #000;
}

    .billshow: hover {
        background-color: red;
    }
.border-table td{
    text-align:center;
    border:1px solid #000;
    border-collapse:collapse;
}
.bg-maudam {
    background-color: #bebebe
}
.relevative-th {
    width: 100%;
    position: relative;
    height: 100vh;
}
.absolut-th {
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    height: 90vh;

}
.showItem{
    padding:15px 0px; 
    border-bottom:1px solid #fff
}
.table-title{
    padding:15px 0px;
    font-weight:500;
    font-size:16px;
    display:flex;
    text-align:center;
}
.set-border-right-span {
    border-right: 2px solid #000
}
.hover-div:hover {
    background-color: #f2e8d7;
    cursor: pointer;
}
.btn-chi-tiet {
    border: 1px solid #1e7898;
    border-radius: 10px;
    padding: 3px 20px;
    color: #fff;
    background-color: #1e7898;
}
    .btn-chi-tiet:hover {
        background-color: #f2e8d7;
        color: #1e7898;
    }
.noBill{
    display:flex;
    justify-content:center;
    padding-top:50px;
}
.group-radio-search{
    display: flex;
    align-items: center;
    line-height:180%;
    gap:5px;
}
.css-input input {
    border: 1px solid #7cc0d8
}
    .css-input input:focus {
        border: 1px solid red
    }
.input-PaymentMethod{
    width:40%;
    margin-top:15px;
}
.btn_searchBill {
    color: #1e7898;
    padding: 5px 25px;
    border-radius: 10px;
    margin-top:10px;
    border: 1px solid #1e7898;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
}
    .btn_searchBill:hover {
        color: #fff;
        background-color: #1e7898;
    }
.btn_UpdateBill {
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #FE9666;
    color: #FE9666;
}
    .btn_UpdateBill:hover {
        background-color: #FE9666;
        color: #fff;
    }

.btn_CancelBill {
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #c24b39;
    color: #c24b39;
}
    .btn_CancelBill:hover {
        background-color: #c24b39;
        color: #fff;
    }







.titleUpadteFee {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}


