@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese');

@font-face {
    font-family: 'FontAwesome';
    src: url('//theme.hstatic.net/200000312481/1000699457/14/fontawesome.eot?v=248');
    src: url('//theme.hstatic.net/200000312481/1000699457/14/fontawesome.eot?v=248') format('embedded-opentype'), url('//theme.hstatic.net/200000312481/1000699457/14/fontawesome.woff?v=248') format('woff'), url('//theme.hstatic.net/200000312481/1000699457/14/fontawesome.ttf?v=248') format('truetype'), url('//theme.hstatic.net/200000312481/1000699457/14/fontawesome.svg?v=248') format('svg');
    font-weight: normal;
    " font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('//theme.hstatic.net/200000312481/1000699457/14/glyphicons-halflings-regular.eot?v=248');
    src: url('//theme.hstatic.net/200000312481/1000699457/14/glyphicons-halflings-regular.eot?#iefix?v=248') format('embedded-opentype'),url('//theme.hstatic.net/200000312481/1000699457/14/glyphicons-halflings-regular.woff?v=248') format('woff'),url(//theme.hstatic.net/200000312481/1000699457/14/glyphicons-halflings-regular.ttf?v=248) format('truetype'),url(//theme.hstatic.net/200000312481/1000699457/14/glyphicons-halflings-regular.svg#glyphicons_halflingsregular?v=248) format('svg')
}

ul {
    padding: 0;
    list-style-type: none;
}

    ul.unstyled, ol.unstyled {
        margin: 0;
        list-style: none outside none;
    }

        ul.unstyled > li, ol.unstyled > li {
            list-style: none;
        }

    ul.horizontal > li, ol.horizontal > li {
        display: block;
        float: left;
    }

    ul.horizontal-inline, ol.horizontal-inline {
        text-align: center;
    }

        ul.horizontal-inline > li, ol.horizontal-inline > li {
            display: inline;
            margin: 0 5px;
        }

    ul.expanded > li, ol.expanded > li {
        margin-bottom: 10px;
    }

a {
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

input:focus {
    outline: none;
}
/* lazyload */
.owl-carousel .owl-item img,
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: initial !important;
}

img.owl-lazy:not([src]) {
    visibility: hidden;
}

.owl-carousel .owl-item img {
    width: auto !important;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.ratiobox {
    position: relative;
    display: block;
}

    .ratiobox .ls-blur-up-is-loading, .ratiobox .lazyload:not([src]) {
        visibility: hidden;
    }

    .ratiobox .ls-blur-up-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-family: "blur-up: auto", "object-fit: contain";
        -o-object-fit: contain;
        object-fit: contain;
        filter: blur(8px);
        opacity: 1;
        transition: opacity 500ms, filter 700ms;
    }

        .ratiobox .ls-blur-up-img.ls-inview.ls-original-loaded {
            opacity: 0;
            filter: blur(5px);
        }
/* END ++++ lazyload */
@media(min-width:1200px) {
    .container-fluid {
        max-width: 1600px;
        padding: 0 85px;
    }

    .wrapper-home-information .container-fluid {
        padding-left: 0;
    }

    .layout-pageContact .container-fluid {
        padding-left: 0;
    }
}
/*========================================================================*/
main.main-index {
    position: relative;
    z-index: 99;
}


.wrap-flex-align {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

button:focus {
    border-color: transparent;
    outline: none;
}

.heading-page h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sitebox-recaptcha {
    padding: 6px 0 0;
    text-align: left;
    color: #9e9e9e;
    font-size: 13px;
    clear: both;
}

    .sitebox-recaptcha a {
        color: #2962ff;
    }

.grecaptcha-badge {
    visibility: hidden;
}

.pd-page {
    padding-top: 30px;
}

.main-body {
    position: relative;
}

@media(min-width:1200px) {
    .animation-tran .site-animation {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -o-transform: translateY(60px);
        transform: translateY(60px);
        opacity: 0;
        -webkit-transition: opacity 300ms linear, transform 300ms linear;
        -moz-transition: opacity 300ms linear, transform 300ms linear;
        -o-transition: opacity 300ms linear, transform 300ms linear;
        transition: opacity 300ms linear, transform 300ms linear
    }

    .animation-tran.active .site-animation {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes scroll-in {
    0% {
        top: 2px
    }

    49% {
        top: -14px
    }

    50% {
        top: 19px
    }

    100% {
        top: 2px
    }
}

@keyframes scroll-out {
    0% {
        top: 2px
    }

    49% {
        top: 19px
    }

    50% {
        top: -14px
    }

    100% {
        top: 2px
    }
}

@media(max-width:1199px) and (min-width:992px) {
    #nav nav.main-nav ul li a {
        font-size: 14px;
        margin: 0 10px;
    }

    .main-header .wrap-logo a {
        font-size: 24px;
    }
}

@media(min-width: 992px) {
    .header-navbar-menu .wrap-logo-sticky, .main-header .wrap-logo {
        min-width: 180px;
    }

    .header-action_cart .header-action_dropdown {
        width: 450px;
    }

    .header-action_search .header-action_dropdown {
        width: 400px;
    }

    .header-action_account .header-action_dropdown {
        width: 340px;
    }

        .header-action_account .header-action_dropdown.header-action_widthAuto {
            width: auto;
            min-width: 250px
        }

    .main-header.hSticky-nav .header-action_dropdown {
        top: calc(100% + 5px);
    }

    .main-header.hSticky-nav .wrap-logo a img {
        max-height: 50px;
    }
    /*fix bug*/
    .hSticky .header-action.show-action .header-action_dropdown,
    .hSticky-nav .header-action.show-action .header-action_dropdown {
        visibility: hidden;
        opacity: 0;
    }

    .hSticky-nav.hSticky-up .header-action.show-action .header-action_dropdown {
        visibility: visible;
        opacity: 1;
    }

    .locked-scroll .hSticky ~ .site-overlay,
    .locked-scroll .hSticky-nav ~ .site-overlay {
        opacity: 0;
        visibility: hidden;
    }

    .locked-scroll .hSticky-nav.hSticky-up ~ .site-overlay {
        opacity: 1;
        visibility: visible;
    }
}

@media(max-width: 991px) {
    .locked-scroll {
        overflow: hidden;
        width: 100%;
        top: 0;
    }

        .locked-scroll .main-header {
            position: fixed;
            top: 0;
            visibility: visible;
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

            .locked-scroll .main-header.hSticky.hSticky-nav.hSticky-up,
            .locked-scroll .main-header.hSticky.hSticky-nav {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

    .main-header .header-upper-middle {
        padding: 10px 0px;
        position: relative;
    }

    .flexContainer-header > div.header-upper-logo {
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
    }

    .flexContainer-header > div.header-upper-icon {
        padding-left: 0;
    }

    .flexContainer-header > div.header-upper-logo .wrap-logo img {
        max-width: 180px;
        max-height: 60px;
    }

    .flexContainer-header > div[class*='header-upper-'],
    .flexContainer-header .header-wrap-icon {
        position: initial;
    }

    .header-action_text .header-action__link .box-text {
        display: none
    }

    .search-bar-mobile {
        display: block;
    }

    .main-header:not(.hSticky-nav) .header-search-mobile {
        border-top: 1px solid #f5f5f5;
    }

    .main-header.hSticky-nav .header-search-mobile {
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        visibility: hidden;
        padding: 0px 100px 0px 60px; /*header-wrap-icon_100 ++ header-upper-navbar_60*/
    }

    .main-header.hSticky-nav .search-bar-mobile form.searchform {
        position: relative;
        visibility: visible;
        margin: 0 auto;
    }

    .main-header.hSticky-nav .search-bar-mobile .smart-search-wrapper {
        visibility: visible;
        top: calc(100% + 10px);
    }

    .main-header.hSticky-nav .header-upper-logo {
        display: none;
    }

    .main-header:not(.hSticky-nav) .wrap-logo a img {
        margin: 0 auto;
    }
    /* product header fixed*/
    .main-body-product .main-header.hSticky-nav .header-upper-navbar .header-action_backlink {
        display: inline-block;
        height: 30px;
        line-height: 30px;
    }

    .main-body-product .main-header.hSticky-nav .header-search-mobile {
        display: none;
    }

    .main-body-product .main-header.hSticky-nav .header-wrap-icon .header-action.header-action_search {
        display: block;
    }

    .main-body-product .main-header.hSticky-nav .header-action_menu .box-triangle {
        left: 50px;
    }
    /* end */
    .header-action_dropdown {
        right: 0;
        left: 0;
        top: 100%;
        width: 100vw;
        height: calc(100vh - var(--header-mobile-height));
    }

        .header-action_dropdown .header-dropdown_content {
            overflow: auto;
            padding-bottom: 120px;
            -webkit-overflow-scrolling: touch;
        }

    .header-action_menu .header-action_dropdown .header-dropdown_content {
        padding: 0 0px 80px;
    }

    .header-action.show-action .header-action_text .header-action__link .box-icon .box-icon--close {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .header-action.show-action .header-action_text .header-action__link .box-icon > svg,
    .header-action.show-action .header-action_text .header-action__link .box-icon .count-holder {
        opacity: 0;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .header-wrap-icon .header-action.header-action_search {
        display: none;
    }

    .header-action_dropdown .box-triangle {
        right: 20px;
    }

    .header-action_account .header-action_dropdown .box-triangle {
        right: 64px;
    }

    .header-action_search .header-action_dropdown .box-triangle {
        right: 108px;
    }

    .header-action_menu .box-triangle {
        right: initial;
        left: 15px;
        bottom: calc(100% - 3px);
    }
}

@media(max-width: 767px) {
    .flexContainer-header > div.header-upper-logo .wrap-logo a {
        font-size: 24px;
    }

    .flexContainer-header > div.header-upper-logo .wrap-logo img {
        max-width: 160px;
    }
}

/*--------------------------------------------------------------------------------
INDEX
--------------------------------------------------------------------------------*/

#homepage_slider .owl-dots {
    position: absolute;
    bottom: 28px;
    text-align: center;
    width: 100%;
}

    #homepage_slider .owl-dots .owl-dot {
        display: inline-block;
    }

        #homepage_slider .owl-dots .owl-dot span {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            cursor: pointer;
            background: transparent;
            border: 2px solid #fff;
            -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
            transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        }

        #homepage_slider .owl-dots .owl-dot.active span {
            background: #fff;
        }

.wrapper-heading-home {
    padding: 50px 0;
    text-align: center;
}

    .wrapper-heading-home h2 {
        font-size: 37px;
        line-height: 1.6;
        margin: 0;
        font-weight: 500;
    }

.block-banner-category {
    position: relative;
    overflow: hidden;
    background: #f4f4f4;
    margin: 4px 2px;
}

.caption_banner {
    position: absolute;
    width: 100%;
    padding: 0 50px;
    bottom: 50px;
    color: #050000;
}

    .caption_banner span {
        font-size: 15px;
        font-weight: 400;
    }

.block-banner-category a.link-banner {
    display: block;
}

.caption_banner h3 {
    font-size: 23px;
    margin: 15px 0;
    color: #050000;
}

.caption_banner .button {
    border-color: #ffffff;
    color: #252525;
}

    .caption_banner .button:before {
        background-color: #ffffff;
    }

    .caption_banner .button:hover {
        color: #ffffff;
    }

.wrap-collection-title {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.wrapper-home-banner, .wrapper-home-information {
    margin-top: 40px
}

    .wrapper-home-banner .home-banner-pd {
        padding: 0;
    }

.wrapper-home-information {
    background-color: #f5f5f5;
}

.flex-container-information {
    margin: 0 -15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.wrap-pd-infor {
    padding: 0;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.box-banner-inf h2 {
    color: #fff;
    font-size: 54px;
    margin: 0;
    font-weight: 700;
}

.box-banner-inf a.button {
    margin-top: 65px;
}

.wrap-pd-infor .inf-content {
    font-size: 15px;
    font-weight: 500;
    margin: auto;
}

.wrap-pd-infor.box_stick .container-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background 200ms linear;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .wrap-pd-infor.box_stick .container-background:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .4;
        transition: opacity 200ms linear, background 200ms linear;
    }

.wrap-pd-infor.box_stick img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover";
    -ms-transition: opacity 150ms linear;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.list-slider-banner .owl-item:not(.active) {
    opacity: 0.6
}

.list-slider-banner.owl-carousel .owl-nav .owl-prev,
.list-slider-banner.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 10px rgba(54,54,54,0.15);
    box-shadow: 0 2px 10px rgba(54,54,54,0.15);
    vertical-align: middle;
    line-height: 0;
}

    .list-slider-banner.owl-carousel .owl-nav .owl-prev:before,
    .list-slider-banner.owl-carousel .owl-nav .owl-next:before {
        content: "";
        font-family: "FontAwesome";
        font-size: 25px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        display: inline-block;
        -webkit-box-shadow: 0 2px 10px rgba(54,54,54,0.15);
        box-shadow: 0 2px 10px rgba(54,54,54,0.15);
        border-radius: 50%;
    }

.list-slider-banner.owl-carousel .owl-nav .owl-prev {
    left: 35px;
}

    .list-slider-banner.owl-carousel .owl-nav .owl-prev:before {
        content: "\f104";
    }

.list-slider-banner.owl-carousel .owl-nav .owl-next {
    right: 35px;
}

    .list-slider-banner.owl-carousel .owl-nav .owl-next:before {
        content: "\f105";
    }

.list-slider-banner.owl-carousel .owl-stage {
    margin: 0 auto;
}

.list-slider-banner .caption_banner_slide {
    position: absolute;
    width: 100%;
    padding: 15px 20px;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

    .list-slider-banner .caption_banner_slide h3 {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 12px;
        color: #fff;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

.list-slider-banner .button {
    padding: 5px 15px;
}

.list-slider-banner a.link-banner:not(.lazyloaded) + .caption_banner_slide {
    visibility: hidden;
}
/*------------------------- PRODUCT ITEM-------------------------*/
.pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    margin-bottom: 10px;
}

    .pro-loop a {
        display: block;
    }

    .pro-loop .product-detail {
        padding: 20px 0;
    }

    .pro-loop .product-img {
        text-align: center;
        position: relative;
        overflow: hidden;
    }

        .pro-loop .product-img .product-sale, .pro-loop .product-img .sold-out {
            position: absolute;
            font-size: 12px;
            line-height: 1;
            padding: 5px 10px;
            font-weight: bold;
            z-index: 9;
            color: #000000;
            background: #fff;
            border: 1px solid #ededed;
        }

        .pro-loop .product-img .product-sale {
            top: 10px;
            left: 10px;
            color: #f94c43;
        }

        .pro-loop .product-img .sold-out {
            right: 10px;
            bottom: 10px
        }

            .pro-loop .product-img .sold-out span {
                opacity: .66;
            }

.product-detail .box-pro-detail {
    z-index: 9;
    width: 100%;
}

.pro-loop .product-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
    min-height: 18px;
}

    .pro-loop .product-detail h3 a {
        line-height: 16px;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

.pro-price-mb {
    display: none;
}

p.pro-price {
    color: #000000;
    font-size: 14px;
    margin: 0;
}

    p.pro-price.highlight {
        color: #f94c43;
    }

    p.pro-price span.pro-price-del {
        color: #939393;
        font-size: 13px;
        margin-left: 5px;
    }

.pro-loop .product-img .button-add {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 37%;
    //transform: translateY(-37%);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.pro-loop .product-img button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    background: #191919;
    color: #fff;
    padding: 6px 20px;
}

    .pro-loop .product-img button i {
        margin-left: 8px;
        font-size: 14px;
    }

.pro-loop .product-img picture {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    .pro-loop .product-img picture:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }

@media(min-width:1024px) {
    .wrapper-collection-1 .pro-loop, .wrapper-collection-2 .pro-loop,
    .search-list-results .pro-loop,
    #collection .pro-loop.col-5 {
        width: 25%;
    }

        .wrapper-collection-1 .pro-loop:nth-child(6).pro-loop-lastHide,
        .wrapper-collection-2 .pro-loop:nth-child(6).pro-loop-lastHide,
        .list-productRelated .pro-loop:nth-child(6).pro-loop-lastHide {
            display: none
        }

    .pro-loop:hover .product-img .button-add {
        opacity: 1;
        visibility: visible;
        bottom: 50%;
    }

    .pro-loop:hover .product-img picture:nth-of-type(2) {
        opacity: 1;
        visibility: visible;
    }

    .pro-loop:hover .product-img picture:nth-of-type(1) {
        opacity: 0;
        visibility: hidden;
    }
}

@media(max-width:1023px) and (min-width:992px) {
    .wrapper-collection-1 .container-fluid, .wrapper-collection-2 .container-fluid {
        padding: 0 30px;
    }

    .wrapper-collection-1 .pro-loop:nth-child(10).pro-loop-lastHide,
    .wrapper-collection-2 .pro-loop:nth-child(10).pro-loop-lastHide,
    .list-productRelated .pro-loop:nth-child(10).pro-loop-lastHide {
        display: none
    }
}

@media(max-width:991px) and (min-width:768px) {
    .wrapper-collection-1 .container-fluid, .wrapper-collection-2 .container-fluid {
        padding: 0 30px;
    }

    .wrapper-collection-1 .pro-loop:nth-child(15).pro-loop-lastHide,
    .wrapper-collection-2 .pro-loop:nth-child(15).pro-loop-lastHide,
    .list-productRelated .pro-loop:nth-child(15).pro-loop-lastHide {
        display: none
    }
}

@media(max-width:767px) {
    .wrapper-collection-1 .pro-loop:nth-child(5).pro-loop-lastHide,
    .wrapper-collection-2 .pro-loop:nth-child(5).pro-loop-lastHide,
    .wrapper-collection-1 .pro-loop:nth-child(15).pro-loop-lastHide,
    .wrapper-collection-2 .pro-loop:nth-child(15).pro-loop-lastHide,
    .list-productRelated .pro-loop:nth-child(15).pro-loop-lastHide {
        display: none
    }

    .longarrow {
        display: none;
    }

    .pro-price-mb {
        display: inline-block;
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 9px;
    }

        .pro-price-mb .pro-price {
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 2px 8px;
            border-radius: 2px;
            font-size: 10px;
            line-height: 20px;
            font-weight: 500;
            margin-right: 3px;
        }

    p.pro-price {
        display: none;
    }

    .pro-loop .product-detail {
        padding: 5px 0;
    }
}

.product-loop-special {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

    .product-loop-special.more-image {
        -webkit-align-items: center;
        align-items: center;
    }

    .product-loop-special .product-width {
        max-width: 270px;
        margin: auto;
    }

    .product-loop-special .product-detail {
        padding: 20px 0;
    }

    .product-loop-special .product-img {
        text-align: center;
        position: relative;
    }

    .product-loop-special .product-detail h3 {
        margin: 0 0 5px;
        font-size: 14px;
        position: relative;
    }

        .product-loop-special .product-detail h3 a {
            line-height: 16px;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }

    .product-loop-special .action .button {
        width: 100%;
        padding: 10px 5px;
    }

@media(min-width:768px) {
    .collection-special-one .product-loop-special .product-col-left {
        flex-grow: 2;
    }

    .collection-special-one .product-loop-special .product-col-right {
        flex-grow: 1;
        padding: 0 80px;
    }
}

@media(min-width:1024px) {
    .collection-special-one .product-loop-special {
        padding: 0 100px;
    }
}

.collection-special-two .product-loop-special .product-col-left {
    width: 60%;
}

.collection-special-two .product-loop-special .product-width {
    max-width: 190px;
}

.collection-special-two .product-loop-special .product-col-right {
    padding: 0 0 0 35px;
}

.collection-special-two .product-loop-special .product-detail {
    padding: 10px 0;
}

@media(max-width:1200) and (min-width:1024px) {
    .collection-special-two .product-loop-special {
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        justify-content: space-around;
    }

    .collection-special-two .product-loop-special {
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

        .collection-special-two .product-loop-special .product-width {
            max-width: 170px
        }

        .collection-special-two .product-loop-special .product-col-right {
            padding: 0 0 0 25px;
        }

        .collection-special-two .product-loop-special .product-col-left {
            width: 70%;
        }
}

@media(max-width: 767px) {
    .product-loop-special .action .button {
        font-size: 12px
    }

    .collection-special-two .product-loop-special .product-width {
        max-width: 130px;
    }

    .collection-special-one .product-loop-special .product-col-right {
        padding-left: 20px;
    }

    .collection-special-one .product-loop-special .product-width {
        max-width: 260px;
    }

    .product-loop-special .product-detail {
        padding: 5px 0;
    }
}

/*--------------------------------------------------------------------
PRODUCT DETAIL 
--------------------------------------------------------------------*/
.product-detail-wrapper {
    padding: 30px 0;
}

.product-detail-main {
    margin-bottom: 40px;
}

.product-title {
    padding: 0 0 10px;
    border-bottom: 1px dotted #dfe0e1;
}

    .product-title h1 {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 5px;
        line-height: initial;
    }

#pro_sku {
    font-size: 12px;
    color: #a3a5a7;
}

.hook-reviews {
    border-bottom: 1px dotted #dfe0e1;
    padding-bottom: 15px;
}

    .hook-reviews .rating {
        line-height: 1;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        width
    }

        .hook-reviews .rating .rating {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            line-height: 1;
        }

        .hook-reviews .rating .icon {
            display: inline-block;
        }

            .hook-reviews .rating .icon::before {
                color: #d5d5d5;
                content: "\f005";
                font-family: "FontAwesome",sans-serif;
                font-size: 13px;
                font-style: normal;
            }

            .hook-reviews .rating .icon.star-full::before {
                color: #ffae00;
            }

.number-rating {
    padding-left: 5px;
    font-size: 13px;
}

.product-price {
    padding: 10px 0;
    border-bottom: 1px dotted #dfe0e1;
}

    .product-price span.pro-price {
        font-size: 18px;
        opacity: .92;
        font-weight: bold;
        color: red;
    }

    .product-price span.pro-sale {
        display: inline-block;
        padding: 5px 15px;
        margin-right: 10px;
        background: #ededed;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        color: #f94c43;
    }

    .product-price del {
        font-size: 14px;
        color: #777a7b;
        padding-left: 10px;
        font-weight: 500;
    }

.selector-actions {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.quantity-area {
    margin-bottom: 15px;
}

    .quantity-area input#quantity {
        background: #fff;
        font-weight: 600;
        height: 32px;
        padding: 0;
        text-align: center;
        width: 70px;
        border: 1px solid #f5f5f5;
        border-left: none;
        border-right: none;
        border-radius: 1px;
        float: left;
        -webkit-appearance: none;
    }

    .quantity-area input.qty-btn {
        float: left;
        background: #f5f5f5;
        border: solid 1px #f5f5f5;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        outline: none;
        height: 32px;
        width: 32px;
        text-align: center;
        border-radius: 0;
    }

button.btn-addtocart {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    padding: 14px 35px;
    line-height: 22px;
    width: 100%;
}

    button.btn-addtocart[disabled] {
        opacity: 0.8;
    }

.product-description {
    margin: 20px 0;
}

    .product-description .title-bl h2,
    .product-description h2,
    .product-description h3 {
        font-size: 14px;
        font-weight: 700;
    }

.description-productdetail * {
    max-width: 100% !important;
}

.description-productdetail ul {
    list-style: initial;
    padding-left: 20px;
}

.description-productdetail ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.description-productdetail ul ul {
    list-style-type: circle;
}

..description-productdetail ul ul ul {
    list-style-type: square;
}

..description-productdetail ul li, .description-productdetail ol li {
    margin: 5px 0;
}

.product-gallery__thumbs-container {
    width: 9%;
    margin-right: 10px;
}

.product-gallery__thumbs {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
}

.product-gallery__thumb a {
    background-color: #f3f3f3;
    display: block;
}

.product-gallery__thumb {
    line-height: 0;
    margin-bottom: 10px;
    border: 1px solid #f7f7f8;
    width: 100%
}

    .product-gallery__thumb:last-child {
        margin-bottom: 0
    }

    .product-gallery__thumb:hover {
        border-color: #a3a5a7
    }

    .product-gallery__thumb img {
        cursor: pointer;
        background-color: #f7f7f8;
        width: 100%
    }

    .product-gallery__thumb.active,
    .product-gallery__thumb.active:hover {
        border-color: #808284
    }

        .product-gallery__thumb.active img {
            opacity: .9;
            width: 100%
        }

.product-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.product-image-detail {
    width: 91%;
    padding-left: 10px;
    position: relative;
}

.product-gallery-item {
    text-align: center;
    margin-bottom: 10px
}

.product-full-img {
    text-align: center;
}

    .product-full-img .no_image {
        width: 50%;
    }

/* ------------------------ Style variant ------------------------ */
.product-image-detail ul {
    margin: 0;
}

.selector-wrapper, .select {
    display: none;
}

.swatch {
    padding: 10px 0;
    width: 100%;
    float: left;
    border-bottom: 1px dotted #dfe0e1;
}

    .swatch .header {
        margin: 0 0 8px;
        font-size: 13px;
        text-align: left;
        line-height: initial;
    }

    .swatch input {
        display: none;
    }

    .swatch > label.tt-label {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 500;
        vertical-align: middle;
        text-transform: uppercase;
        width: 85px;
        text-align: right;
    }

    .swatch .select-swap {
        display: inline-block;
        vertical-align: middle;
    }

    .swatch input {
        display: none;
    }

    .swatch .swatch-element {
        display: inline-block;
        margin-right: 8px;
        position: relative;
        vertical-align: bottom;
    }

        .swatch .swatch-element label {
            display: block;
            margin: 0;
            background: #fff;
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: relative;
            border: 1px solid #e5e5e5;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
        }

        .swatch .swatch-element.color.soldout label span {
            overflow: hidden;
            position: relative;
        }

            .swatch .swatch-element.color.soldout label span:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 50%;
                height: 50%;
                background: url(//theme.hstatic.net/200000312481/1000699457/14/sold_out.png?v=248) no-repeat;
                background-size: contain;
            }

//.swatch .swatch-element.soldout label {
    opacity: 0.5
}

.swatch .swatch-element.color label {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    border: none;
}

.swatch .swatch-element.color span {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid #dfe0e1;
}

.swatch .swatch-element.color label.sd {
    background: transparent;
    border: 1px solid #808284
}

.swatch .swatch-element label.sd {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.swatch .swatch-element.soldout:not(.color) label {
    overflow: hidden;
}

    .swatch .swatch-element.soldout:not(.color) label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
        height: 50%;
        background: url(//theme.hstatic.net/200000312481/1000699457/14/sold_out.png?v=248) no-repeat;
        background-size: contain;
    }

label[for="product-select-option-0"] {
    display: none;
}

label[for="product-select-option-1"] {
    display: none;
}

label[for="product-select-option-2"] {
    display: none;
}

#product-select-option-0 {
    display: none;
}

#product-select-option-1 {
    display: none;
}

#product-select-option-2 {
    display: none;
}

#product-select-option-0 + .custom-style-select-box {
    display: none !important;
}

#product-select-option-1 + .custom-style-select-box {
    display: none !important;
}

#product-select-option-2 + .custom-style-select-box {
    display: none !important;
}

@media (max-width:767px) {
    .swatch .swatch-element.color {
        margin: 5px 8px 5px 0;
    }
}

/* ------------------- Setting varian mÃ u sáº¯c -------------------- */

/* ------------------- Setting varian mÃ u sáº¯c -------------------- */


