.input_Search {
    width: 100%;
}

.title_Product {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.image_showProduct {
    width: 100%;
    height: 150px;
    position: relative
}

.show_Price {
    position: absolute;
    bottom: -15px;
    background: black;
    opacity: 0.7;
    width: 100%;
    color: #fff;
    padding: 0px 20px;
    font-size: 15px;
}

.name_Product {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-top: 15px;
}

.closeBill {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

    .closeBill:hover {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.choseBill {
    background-color: #9EA3A4;
}

.nochoseBill {
    background-color: #f2f2f2;
}

.abc {
    background-color: #f2f2f2;
}

    .abc:hover .cba {
        background-color: #9EA3A4;
    }

    .abc:hover {
        background-color: #9EA3A4;
    }


.img_productInBill {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.priceInBill {
    padding: 5px;
    border-bottom: 1px solid #000;
}

.number-input {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
}

.input-field {
    margin-left: 10px;
    width: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.minus-button,
.plus-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: #337ab7;
    font-weight: bold;
    cursor: pointer;
}

    .minus-button:hover,
    .plus-button:hover {
        color: #286090;
    }

.infoKhachhang {
    padding: 10px 20px;
    background-color: #f2f2f2;
}

.btn_Thanhtoan {
    padding: 5px 20px;
    background-color: #51cb7b;
    border-radius: 20px;
    border: 1px solid #51cb7b;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn_Thanhtoan:hover {
        background-color: #135f2d;
        border-radius: 20px;
        border: 1px solid #135f2d;
        color: #FFF
    }

.divSearch {
    width: 70%;
    height: 150px;
    overflow-y: scroll;
    position: absolute;
    top: 30px;
    background-color: #666869;
}

.userSearch {
    padding: 20px;
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 20px
}

    .userSearch:hover {
        background-color: #fff;
        padding-bottom: 20px;
    }

::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border: 1px solid;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.btn_searchUser {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #f2d68c;
    height: fit-content;
    width: 100% !important;
}

.input_SearchUser {
    padding: 10px;
    width: 100%;
}

.UserShow {
    padding: 10px;
    background-color: #f2d68c;
    cursor: pointer;
}

    .UserShow:hover {
        background-color: #c2ab70;
        color: #fff;
    }

.table-sellStall table, th, td {
    border: 1px solid #D3D3D3 !important;
    border-collapse: collapse !important;
}

.table-sellStall table {
    border-top: 2px solid;
}

.table-sellStall th {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 8px 10px;
}

.table-sellStall td {
    padding: 8px 10px 8px 10px;
}

.div_tru {
    border: none;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    padding: 0px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.imagelistShow {
    width: 100px;
    height: 100px;
}

.titleNameProduct {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-top: 10px;
}

.showlistProduct {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 30px;
    overflow-y: scroll;
    height: 100%;
}

.nameUser {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .1em solid #a99662;
    background: rgba(#E91E63, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #000;
}

input[type=number] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .1em solid #a99662;
    background: rgba(#E91E63, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #000;
}

input[readonly] {
    color: #f25d5d; /* Màu chữ mờ */
    border-bottom: .1em solid #f25d5d;
}

.btnPhuongThucThanhToan {
    border: 1px solid #5cb85c;
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    color: #5cb85c;
    font-size: 12px;
    margin-left: 10px;
}

    .btnPhuongThucThanhToan:hover {
        border: 1px solid #5cb85c;
        background-color: #5cb85c;
        color: #fff;
    }

.acttiveTabPTTTT {
    border: 1px solid #5cb85c;
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    font-size: 12px;
    margin-left: 10px;
    background-color: #5cb85c;
    color: #fff;
}

.btnEndBill {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    background-color: #238473
}

    .btnEndBill:hover {
        background-color: #32BDA5;
    }
.btnSize {
    border: 1px solid #5cb85c;
    border-radius: 20px;
    padding:5px 15px;
    color: #5cb85c;
    font-size: 12px;
    margin-left: 10px;
}
    .btnSize:hover {
        border: 1px solid #5cb85c;
        background-color: #5cb85c;
        color: #fff;
    }
.div-quantity {
    width: 40%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #a99662;
    overflow:hidden;
    height:34px;
}
.btn-SuccesAddProductToBill {
    width: 100%;
    padding: 7px;
    border: 1px solid #4d7067;
    color: #4d7067;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 600;
}
    .btn-SuccesAddProductToBill:hover {
        background-color: #457669;
        font-weight: 400;
        color: #fff;
    }

.minus-plus-hover {
    width: 30%;
    height: 100%;  
}
    .minus-plus-hover:hover {
        background-color: #a99662;
        color: #fff;
    }
.minus-plus-hover-active {
    width: 30%;
    height: 100%;
    background-color: red;
}
.btn-SuccesAddProductToBillDisable {
    width: 100%;
    padding: 7px;
    border: 1px solid #b3d6cd;
    color: #b3d6cd;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 600;
}
.show-image-no-product-cart{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*.modal {
    z-index: 1050 !important; 
}

.toast {
    z-index: 1060 !important;
}*/

