@using DATN_Client.Areas.Customer.Component
@model DATN_Shared.ViewModel.LoginUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
@(await Html.RenderComponentAsync<Login>(RenderMode.Server))
@*<form asp-action="Login" method="post">
    <div class="form">
        <label>Username:</label>
        <input type="text" class="form-control" asp-for="UserName" name="UserName" />
    </div>
    <div class="form">
        <label>Password:</label>
        <input type="password" class="form-control" asp-for="Password" name="Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="https://localhost:7075/Customer/ForgetPassword">quen mat khau</a>*@