@using DATN_Client.Areas.Customer.Component
@{
    ViewData["Title"] = "ABOUT";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    h1 {
        color: rgb(25 17 11);
        font-family: louis Vuitton Web;
        font-size: 64px;
        line-height: 64px;
        margin-top: 5%;
        text-align: center
    }

    h3 {
        color: rgb(25 17 11);
        font-family: Louis Vuitton Web;
        font-size: 38px;
        font-weight: 500;
        line-height: 40px;
        margin: 8px 0px;
        text-align: center;
    }

    h2 {
        margin-top: 40px;
        margin-left: 6%;
        color: rgb(25 17 11);
        font-family: Louis Vuitton Web;
        font-size: 30px;
        font-weight: 300;
    }

    h4 {
        margin-top: 30px;
        font-family: Louis Vuitton Web;
    }

    .p {
        color: rgb(25 17 11);
        font-family: Louis Vuitton Web;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.8px;
        line-height: 32px;
        margin-left: 6%;
    }

    .contents {
        padding-top: 50px;
        text-align: center;
    }

    span {
        margin-left: 50px;
        align-items: center;
        color: rgb(25 17 11);
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 20px;
        text-align: left;
    }

    .image {
        margin-top: 30px;
    }

    .show {
        margin-left: 12%;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>World of BH unisex</h1>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="contents">
                <span>All</span>
                <span>Fashion Show</span>
                <span>Arst&Culure</span>
                <span> La Mason</span>
                <span>Sustainability</span>
            </div>

        </div>
        <div class="col-md-12">
            <div class="image">
                <center> <img src="~/images/gioithieu1.png" alt="" width="1152px" height="600px"></center>
            </div>

        </div>
        <div class="col-md-12">
            <div class="contents">
                <span>ART & CULTURE- EXHITIONS</span>
                <h3>BH unisex: THE EXHITIONS</h3>

            </div>
        </div>
        <div class="col-md-12">
            <h2>Fashion Show</h2>
            <p class="p"> Discover Heni Shop’s latest fashion shows for both Women’s and Men’s Collections.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="show">
                <img src="~/images/gioithieu2.png" alt="" width="500px" height="480px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>

        </div>
        <div class="col-md-6">
            <div class="show">
                <img src="~/images/gioithieu3.png" alt="" width="500px" height="480px">
                <h4>MEN'S SPRING-SUMMER 2023 SHOW IN ARANYA</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <h2>Arts and Culture.</h2>
            <p class="p">
                Read about the Maison’s cultural exhibitions, book launches, and artistic collaborations.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="show">
                <img src="~/images/gioithieu4.png" alt="" width="400px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="show">
                <img src="~/images/gioithieu5.png" alt="" width="400px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="show">
                <img src="~/images/gioithieu6.png" alt="" width="400px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <h2>La Maison .</h2>
            <p class="p">
                Explore Louis Vuitton’s legendary history, unique savoir-faire, and timeless Spirit of
                Travel.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="show">
                <img src="~/images/gioithieu7.png" alt="" width="500px" height="480px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>

        </div>
        <div class="col-md-6">
            <div class="show">
                <img src="~/images/giothieu8.png" alt="" width="500px" height="480px">
                <h4>MEN'S SPRING-SUMMER 2023 SHOW IN ARANYA</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <h2>Sustainability .</h2>
            <p class="p">
                Learn about Our Committed Journey, the Maison’s pledges, objectives, and actions towards a
                more
                sustainable future.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="show">
                <img src="~/images/gioithieu9.png" alt="" width="400px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="show">
                <img src="~/images/gioithieu10.png" alt="" width="400px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="show">
                <img src="~/images/gioithieu11.png" alt="" width="400px">
                <h4>WOMEN'S SPRING-SUMMER 2023 SHOW</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>


    </div>

</div>


