<div class="card">
    <div class="card-body">
        <h1 style="margin-top:20px">Address</h1>
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
             
                </ol>
            </nav>
        </div>
    </div>
</div>



<section class="section">
    <div class="row">
      

        <div class="card">
            <div class="card-body">
                <h4 style="margin-top:20px">Địa chỉ</h4>
                <div class="pagetitle">
                </div>
                @if (addressShip_s == null)
                {
                        <p><em>Loading...</em></p>
                }
                else
                {
                        <div style="height: 500px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr style="position: sticky;top:0">
                                        <th>Tên người nhận</th>
                                        <th>PhoneNumber</th>
                                        <th>Địa chỉ</th>
                                       

                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var x in addressShip_s)
                                {
                                            <tr>
                                                <td>@x.Recipient</td>
                                                <td>@x.NumberPhone</td>
                                                <td>@(x.ToAddress+","+x.WardName+","+x.Province+","+x.District)</td>
                                                <td>@(x.Status == 1 ? " Đang Hoạt động" : "Ngừng hoạt động")</td>
                                            </tr>

                                }
                                </tbody>
                            </table>
                        </div>
                }
            </div>
        </div>



    </div>
</section>

