﻿<div class="card">
	<div class="card-body">
		<h1 style="margin-top:20px">Quản lý user</h1>
		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>

				</ol>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<EditForm Model="user_VM">
			<div class="row">
				<div class="col-md-8">
					<InputText class="form-control" @bind-Value="user_VM.UserName" placeholder="Tìm kiếm theo tên" />
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary" @onclick="SearchByUsername">Tìm kiếm</button>
				</div>
			</div>
		</EditForm>
	</div>
	<div class="row">
		<EditForm>

		</EditForm>
	</div>
</div>





