
<h3>ChangePassword</h3>


<EditForm Model="changePassword">


	<div class="form">
		<label>Old Password</label>
		<InputText type="text" class="form-control" @bind-Value="changePassword.OldPassword" />
	</div>
	<div class="form">
		<label>New Password:</label>
		<InputText type="password" class="form-control" @bind-Value="changePassword.NewPassword" />
	</div>

	<button type="submit" class="btn btn-primary" @onclick="ChangePasswordMethor">Change Password</button>

</EditForm>