<h3>ForgetPasswordView</h3>
<EditForm Model="ForgetPasswordUser">
	<div class="form">
		<label>Email</label>
		<InputText type="text" class="form-control" @bind-Value="ForgetPasswordUser.Email" />
		<ValidationMessage For="()=>ForgetPasswordUser.Email" style="color:red;" />
	</div>
	<div class="form">
		<label>Phone Number</label>
		<InputText type="text" class="form-control" @bind-Value="ForgetPasswordUser.PhoneNumber" />
		<ValidationMessage For="()=>ForgetPasswordUser.PhoneNumber" style="color:red;" />
	</div>
	<div class="form">
		<label>Username</label>
		<InputText type="text" class="form-control" @bind-Value="ForgetPasswordUser.Username" />
		<ValidationMessage For="()=>ForgetPasswordUser.Username" style="color:red;" />
		
	</div>
	<button type="submit" class="btn btn-primary" @onclick="ForgetPasswordMethor">Login</button>

</EditForm>
