@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />




@if (!string.IsNullOrEmpty(responseAPI))
{
	<div class="Login full">
		<div class=" container container1" style="width:600px;margin: 0 auto;  margin-top: 120px;
  margin-bottom: 40px;">
			<div class="form login">
				<span class="title">Forget Password</span>
				<EditForm Model="ForgetPasswordUser">
					<DataAnnotationsValidator />
					<div class="input-field">
						<InputText type="text" @bind-Value="ForgetPasswordUser.OTP" placeholder="OTP" />
						<i class="fa-solid fa-key"></i>
						<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>ForgetPasswordUser.OTP"></ValidationMessage></span>
					</div>





					<div class="input-field button">
						<input type="submit" value="Confirm" @onclick="ForgetPasswordOTP">

					</div>
				</EditForm>

			</div>
		</div>
	</div>
}
else
{

	<div class="Login full">
		<div class=" container container1" style="width:600px;margin: 0 auto;  margin-top: 120px;
  margin-bottom: 40px;">
			<div class="form login">
				<span class="title">Quên mật khẩu</span>
				<EditForm Model="ForgetPasswordUser">
					<DataAnnotationsValidator />
					<div class="input-field">
						<InputText type="text" @bind-Value="ForgetPasswordUser.Username" placeholder="Tên đăng nhập" />
						<i class="fa-regular fa-user"></i>
						<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>ForgetPasswordUser.Username"></ValidationMessage></span>
					</div>
					<div class="input-field">
						<InputText type="text" @bind-Value="ForgetPasswordUser.PhoneNumber" placeholder="Số điện thoại" />
						<i class="fa-solid fa-phone"></i>
						<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>ForgetPasswordUser.PhoneNumber"></ValidationMessage></span>
						
					</div>

					<div class="input-field">
						<InputText type="text" @bind-Value="ForgetPasswordUser.Email" placeholder="Email" />
						<i class="fa-regular fa-envelope"></i>
						<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>ForgetPasswordUser.Email"></ValidationMessage></span>
					
					</div>




					<div class="input-field button">
						<input type="submit" value="Kiểm tra" @onclick="ForgetPasswordMethor">

					</div>
				</EditForm>
					<div style=" margin-top: 10px">
					<a href="https://localhost:7075/Customer/Login/Login" style="margin-left:43%"> Đăng nhập</a>
				</div>

			</div>
		</div>
	</div>
}


