@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />




@if (!string.IsNullOrEmpty(responseAPI))
{
	<div class="Login full">
		<div class=" container container1" style="width:600px;margin: 0 auto;  margin-top: 5%;">
			<div class="form login">
				<span class="title">Quên mật khẩu</span>
				<EditForm Model="ForgetPasswordUser">
					<DataAnnotationsValidator />
					<div class="input-field">
						<InputText type="text" @bind-Value="ForgetPasswordUser.OTP" placeholder="OTP" />
						<i class="fa-solid fa-key"></i>
						<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>ForgetPasswordUser.OTP"></ValidationMessage></span>
					</div>





					<div class="input-field button">
						<input type="submit" value="Confirm" @onclick="ForgetPasswordOTP">

					</div>
					<button type="button" class="kien @timeline" style="margin-top: 10px;margin-left:41%" @onclick="ForgetPasswordMethor">Gửi lại OTP</button>
					<style>
						.kien {
							align-items: flex-start;
							background-color: #1b1b1b;
							border-color: #1b1b1b;
							border-style: solid;
							border-width: 1px;
							color: #ffffff;
							font-family: 'Times New Roman';
							font-weight: 700;
							grid-area: auto;
							letter-spacing: 0.16px;
							line-height: 25px;
							padding: 8px 4px;
							text-align: center;
						}

							.kien.timelinecss {
								pointer-events: none;
								align-items: flex-start;
								background-color: #999999;
								border-color: #1b1b1b;
								border-style: solid;
								border-width: 1px;
								color: #ffffff;
								font-family: 'Times New Roman';
								font-weight: 700;
								grid-area: auto;
								letter-spacing: 0.16px;
								line-height: 25px;
								padding: 8px 4px;
								text-align: center;
							}
					</style>
				</EditForm>
				<h4 style="margin-left:43%">@String.Format("{0:D2}:{1:D2}", countdownMinutes, countdownSeconds)</h4>
			</div>
		</div>
	</div>
}
else
{

	<div class="Login full">
		<div class=" container container1" style="width:600px;margin: 0 auto;  margin-top: 120px;
  margin-bottom: 40px;">
			<div class="form login">
				<span class="title">Quên mật khẩu</span>
				<EditForm Model="ForgetPasswordUser">
					<DataAnnotationsValidator />
					
					<div class="input-field">
						<InputText type="text" @bind-Value="ForgetPasswordUser.PhoneNumber" placeholder="Số điện thoại" />
						<i class="fa-solid fa-phone"></i>


					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>ForgetPasswordUser.PhoneNumber"></ValidationMessage></span>
				



					<div class="input-field button">
						<input type="submit" value="Kiểm tra" @onclick="ForgetPasswordMethor">

					</div>
				</EditForm>
				<div style=" margin-top: 10px">
					<a href="https://localhost:7075/Customer/Login/Login" style="margin-left:43%"> Đăng nhập</a>
				</div>

			</div>
		</div>
	</div>
}


