<style>




    /*    body {
            font-family: 'Mulish', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 100vh;
        }*/

    .container {
        width: 60%;
        display: flex;
        height: 650px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 10px;
        overflow: hidden;
        /*min-height: 100vh;*/
        font-family: 'Mulish', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }




        .container .box {
            position: relative;
            display: flex;
            height: 100%;
            width: 50%;
            transition: all 0.8s;
            transform: translateX(0);
            background-color: #fff;
            z-index: 1;
            overflow: hidden;
        }


        .container.active .box {
            transform: translateX(100%);
        }

        .container .box .form {
            position: absolute;
            height: 100%;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            .container .box .form.sign_up {
                /* transition: all 0.5s;
            opacity: 0;
            transform: translateX(-100%); */
            }

            .container .box .form.sign_up {
                transition: all 1.15s;
                z-index: 1;
                opacity: 0;
                background-color: #fff;
            }

            .container .box .form.sign_in {
                opacity: 1;
                transition: all 1.15s;
                z-index: 5;
                background-color: #fff;
            }

        .container.active .box .form.sign_in {
            z-index: 1;
            opacity: 0;
        }

        .container.active .box .form.sign_up {
            z-index: 5;
            opacity: 1;
        }

        .container.active .box .form.sign_up {
            /* opacity: 1;
            transform: translateX(0%); */
        }

        .container .box .form.sign_in {
            /* transition: all 0.5s;
            opacity: 1;
            transform: translateX(0%); */
        }

        .container.active .box .form.sign_in {
            /* opacity: 0;
            transform: translateX(100%); */
        }

        .container .overlay {
            display: flex;
            height: 100%;
            width: 50%;
            transition: all 0.8s;
            transform: translateX(0);
            background-color: #FF4167;
            z-index: 1;
            overflow: hidden;
            z-index: 5;
            opacity: 1;
            background-image: url(img/a1.png);
        }

        .container.active .overlay {
            transform: translateX(-100%);
        }

        .container .overlay .page {
            height: 100%;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: all 0.5s;
            opacity: 1;
        }

        .container.active .overlay .page.page_signIn {
            opacity: 0;
            margin-left: -100%;
        }

        .container.active .overlay .page.page_signUp {
            margin-left: 0%;
        }


    .overlay .page h3 {
        color: #fff;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .overlay .page p {
        color: #fff;
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 17px;
    }

    .btn {
        display: inline-block;
        outline: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 550;
        background-color: transparent;
        padding: 12px 45px;
        border-radius: 22px;
        border: 1.5px solid #fff;
        cursor: pointer;
    }

    .form h3 {
        color: #222;
        font-size: 40px;
    }

    .form span {
        color: #3a3838;
    }

    #form_input .type {
        width: 330px;
        height: 48px;
        background-color: #EEEDEF;
        margin: 30px 0;
    }

        #form_input .type input {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            font-size: 16px;
            border: none;
            outline: none;
            background-color: transparent;
        }

            #form_input .type input::placeholder {
                color: #A9A8A9;
            }

    #form_input .forgot {
        margin-bottom: 20px;
        font-weight: 500;
    }

    .bkg {
        background-color: #FF4167;
    }

</style>
<div class="container">
    <div class="box">
        <div class="form sign_in">
            <h3>Sign In</h3>
            <span>or use your account</span>

            <form action="#" id="form_input">
                <div class="type">
                    <input type="email" placeholder="Email" name="" id="email">

                </div>
                <div class="type">
                    <input type="password" placeholder="Password" name="" id="password">

                </div>

                <div class="forgot">
                    <span>Forgot your password?</span>
                </div>

                <button class="btn bkg">Sign In</button>
            </form>
        </div>

        <div class="form sign_up">
            <h3>Sign Up</h3>
            <span>or use your email for register</span>

            <form action="#" id="form_input">
                <div class="type">

                    <input type="text" name="" placeholder="Name" id="name">
                </div>
                <div class="type">

                    <input type="email" name="" placeholder="Email" id="email">
                </div>
                <div class="type">

                    <input type="password" name="" placeholder="Password" id="password">
                </div>

                <button class="btn bkg">Sign Up</button>
            </form>
        </div>
    </div>

    <div class="overlay">
        <div class="page page_signIn">
            <h3>Welcome Back!</h3>
            <p>To keep with us please login with your personal info</p>

            <button class="btn btnSign-in">Sign Up <i class="bi bi-arrow-right"></i></button>
        </div>

        <div class="page page_signUp">
            <h3>Hello Friend!</h3>
            <p>Enter your personal details and start journey with us</p>

            <button class="btn btnSign-up">
                <i class="bi bi-arrow-left"></i> Sign In
            </button>
        </div>
    </div>

</div>
