@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />


<div class="Login full">
	<div class=" container container1" style="width:600px;margin: 0 auto;  margin-top: 5%;">
		<div class="form login">
			<span class="title">Đăng nhập</span>
			<EditForm Model="loginUser" >
				<DataAnnotationsValidator/>
				<div class="input-field">
					<InputText type="text" @bind-Value="loginUser.UserName" placeholder="Tên đăng nhập"/>
					<i class="fa-regular fa-envelope icon"></i>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>loginUser.UserName"></ValidationMessage></span>
				</div>
				<div class="input-field">
					<InputText type="password"  @bind-Value="loginUser.Password" placeholder="Mật khẩu"/>
					<i class="fa-solid fa-lock icon"></i>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>loginUser.Password"></ValidationMessage></span>
				
				</div>



				<div class="input-field button">
					<input type="submit" value="Đăng nhập"  @onclick ="login">
					
				</div>
			</EditForm>
			<div style="margin-left:30%;margin-top :10px">
				<a href="https://localhost:7075/Customer/SignUp"> Đăng ký</a>
				<a href="https://localhost:7075/Customer/ForgetPassword" style="margin-left:5px"> Quên mật khẩu</a>
			</div>
			
		</div>
	</div>
</div>




