@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />



@if (!string.IsNullOrEmpty(check))
{
	<div class="Login full fullsign">
		<div class=" container1" style="width:600px;margin: 0 auto;  margin-top: 20%;
  margin-bottom: 40px;">
			<div class="form login">
				<span class="title">Đăng ký</span>
				<EditForm Model="signUp">
					<DataAnnotationsValidator />
					<div class="input-field">
						<InputText placeholder="OTP" @bind-Value="signUp.OTP" />
						<i class="fa-regular fa-user"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.OTP"></ValidationMessage></span>







					<div class="input-field button">
						<input type="submit" value="Đăng ký" @onclick="SignUPOTP">
					</div>

					<button type="button" class="btn btn-success" style="margin-top: 10px;margin-left:40%" @onclick="SignUpUser" >Gửi lại OTP</button>
				</EditForm>
					
			</div>
		</div>
	</div>
}
else
{
	<div class="Login full fullsign">
		<div class=" container1" style="width:600px;margin: 0 auto;  margin-top: 20%;
  margin-bottom: 40px;">
			<div class="form login">
				<span class="title">SignUp</span>
				<EditForm Model="signUp">
					<DataAnnotationsValidator />
					<div class="input-field">
						<InputText placeholder="Tên người dùng" @bind-Value="signUp.Name" />
						<i class="fa-regular fa-user"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.Name"></ValidationMessage></span>
					<div class="input-field">
						<InputText placeholder="Tên đăng nhập" @bind-Value="signUp.UserName" />
						<i class="fa-regular fa-user"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.UserName"></ValidationMessage></span>
					<div class="input-field">
						<InputText placeholder="Số điện thoại" @bind-Value="signUp.PhoneNumber" />
						<i class="fa-solid fa-phone"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.PhoneNumber"></ValidationMessage></span>
					<div class="input-field">
						<InputText placeholder="Email" @bind-Value="signUp.Email" />
						<i class="fa-regular fa-envelope"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.Email"></ValidationMessage></span>


					<div class="input-field">
						<InputText placeholder="Mật khẩu" @bind-Value="signUp.Password" />
						<i class="fa-solid fa-lock"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.Password"></ValidationMessage></span>

					<div class="input-field">
						<InputText placeholder="Xác nhận lại mật khẩu" @bind-Value="signUp.ConfirmPassword" />
						<i class="fa-solid fa-lock"></i>
					</div>
					<span><ValidationMessage style="color:red;font-size:12pt;" For="()=>signUp.ConfirmPassword"></ValidationMessage></span>




					<div style="margin-top :5%">
						<InputRadioGroup @bind-Value="@signUp.Sex" class="form-control">

							<InputRadio Value="true" /> Nam


							<InputRadio Value="false" /> Nữ

						</InputRadioGroup>
					</div>

					<div class="input-field button">
						<input type="submit" value="Đăng ký" @onclick="SignUpUser">
					</div>
					
				</EditForm>
				<div style=" margin-top:10px">
					<a href="https://localhost:7075/Customer/Login/Login" style="margin-left:27%"> Đã có tài khoản - Đăng nhập</a>
				</div>
			</div>
		</div>
	</div>

}








@*<EditForm Model="signUp">
	<DataAnnotationsValidator />
	<div class="form">
		<label>Username:</label>
		<InputText type="text" class="form-control" @bind-Value="signUp.UserName" />
		<ValidationMessage For="()=>signUp.UserName" style="color:red;" />
	</div>
	<div class="form">
		<label>Password:</label>
		<InputText type="password" class="form-control" @bind-Value="signUp.Password" />
		<ValidationMessage For="()=>signUp.Password" style="color:red;" />
	</div>
	<div class="form">
		<label>ConfirmPassword</label>
		<InputText type="password" class="form-control" @bind-Value="signUp.ConfirmPassword" />
		<ValidationMessage For="()=>signUp.ConfirmPassword" style="color:red;" />
	</div>
	<div class="form">
		<label>PhoneNumber:</label>
		<InputText type="number" class="form-control" @bind-Value="signUp.PhoneNumber" />
		<ValidationMessage For="()=>signUp.PhoneNumber" style="color:red;" />
	</div>
	<div class="form">
		<label>Email:</label>
		<InputText type="email" class="form-control" @bind-Value="signUp.Email" />
		<ValidationMessage For="()=>signUp.Email" style="color:red;" />
	</div>
	<div class="form">
		<label>Name:</label>
		<InputText type="text" class="form-control" @bind-Value="signUp.Name" />
		<ValidationMessage For="()=>signUp.Name" style="color:red;" />
	</div>
	<label>Sex</label>
	<InputSelect class="form-select" @bind-Value="@signUp.Sex">
		<option value="true" selected>--Chọn--</option>
		<option value="true">Nam</option>
		<option value="false">Nữ</option>
	</InputSelect>
	<ValidationMessage For="()=>signUp.Sex" style="color:red;" />
	<button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" @onclick="SignUpUser">Sign Up</button>

</EditForm>
*@

