<h3>SignUp</h3>

<EditForm Model="signUp">

	<div class="form">
		<label>Username:</label>
		<InputText type="text" class="form-control" @bind-Value="signUp.UserName" />
	</div>
	<div class="form">
		<label>Password:</label>
		<InputText type="password" class="form-control" @bind-Value="signUp.Password" />
	</div>
	<div class="form">
		<label>ConfirmPassword</label>
		<InputText type="password" class="form-control" @bind-Value="signUp.ConfirmPassword" />
	</div>
	<div class="form">
		<label>PhoneNumber:</label>
		<InputText type="text" class="form-control" @bind-Value="signUp.PhoneNumber" />
	</div>
	<div class="form">
		<label>Email:</label>
		<InputText type="email" class="form-control" @bind-Value="signUp.Email" />
	</div>
	<div class="form">
		<label>Name:</label>
		<InputText type="text" class="form-control" @bind-Value="signUp.Name" />
	</div>
<label>Sex</label>
	<InputSelect class="form-select" @bind-Value="@signUp.Sex">
		<option value="true" selected>--Chọn--</option>
		<option value="true">Nam</option>
		<option value="false">Nữ</option>	
	</InputSelect>
	<button type="submit" class="btn btn-primary" @onclick="SignUpUser">Sign Up</button>
</EditForm>